<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head') %>
</head>
<body>
  <%- include('../partials/nav') %>
  <header>
    <div class="main-title">Express Gallery for Plants that Are Annoying</div>
  </header>
  <main class="image-gallery"></main>
  <%- include('../partials/footer') %>
</body>
</html>

